.container{
	padding-top: 5px;
	background-color: #A2FAF8;	
}
#score{
	font-size: 35px;
}
#textLarge{
	font-size: 30px;
}
#textSmall{
	font-size: 14px;
}
#playerPic{
	height: 100px;
}
#computerPic{
	height: 100px;
}
